@import url("../../reset.css");

header {
  width: 100%;
  height: 60px;
  background-color: burlywood;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.aside-btn {
  width: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 20px;
  cursor: pointer;
}

.aside-btn > .bar {
  width: 100%;
  height: 4px;
  background-color: white;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

aside {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: burlywood;
  width: 180px;
  transform: translateX(-180px);
  transition: transform 0.3s;
  opacity: 0;
}

aside > .top {
  padding: 20px;
}

aside > .menus {
  display: flex;
  flex-direction: column;
}

.menus > .menu {
  border-bottom: 1px solid gray;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
  cursor: pointer;
}

.menus > .menu:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.menus > .menu:first-child {
  border-top: 1px solid gray;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  padding-top: 120px;
  display: none;
}

.modal-container {
  width: 400px;
  height: 300px;
  background-color: white;
}

.modal-container > .header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 1px solid black;
}
.icon {
  cursor: pointer;
}

.modal-container > .content {
  padding: 10px;
}

#modal-input {
  padding: 5px;
}
.modal-btn {
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  background-color: skyblue;
  color: white;
  border-radius: 6px;
  font-size: 18px;
}
